*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#017143;
    --text-color:#333;
}

.app{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 100px;
    background-color: #fff;
    position: relative;
    align-items: center;
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    position: relative;
    max-width: 80px;
}

.nav__list{
    position: relative;
    display: flex;
}

.nav__item{
    cursor: pointer;
    list-style: none;
}

.nav__link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    margin-left: 40px;
}

/* content */

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__text-box {
    position: relative;
    max-width: 50%;
}

.content__text-box h2{
    font-size: 3rem;
    color: var(--text-color);
    line-height: 3rem;
    font-weight: 500;
}

.content__text-box h2 span{
    font-size: 1.4em;
    color: var(--primary-color);
    font-weight: 900;
}

.content__text-box p{
    font-size: 1.4rem;
    margin: 20px 0;
    color: var(--text-color);
}

.content__text-box a{
    display: inline-block;
    border-radius: 50px;
    padding: 8px 20px;
    background-color: var(--primary-color);    
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.content__img{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 95px;
    z-index: 2;
}

.thumb{
    z-index: 10;
}

.thumb__list{
    position: absolute;
    list-style: none;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
}

.thumb__item{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: transform linear .3s;
    padding: 0 20px;
}

.circle{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(50% at right 800px);
    background-color: var(--primary-color);
    z-index: 1;
}

.thumb__item img{
    max-width: 60px;
}

.thumb__item:hover{
    transform: translateY(-30px);
}

footer{
    position: relative;
    top:0;
    bottom: -63px;
    width: 100%;
    border-top:1px solid #333;
}

.footer__main{ 
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.footer__main-header,.footer__main-text{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    margin: 15px 0;
} 

.footer__main-header{
    line-height: 1.4rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.footer__main-text{
    line-height: 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer__main-text:hover,.footer__main-header:hover{
    color: rgb(167, 167, 167);
}





